<div class="container">
  <div class="sign_up">
       
    <h2>Create Community </h2>

    <%= form_with scope: :community,url: users_communities_path, local: true do |f| %>

      <div class="form-group">
        <br><%= f.label :community_name %></br>
        <%= f.text_field :name , class: 'form-control', placeholder: 'Enter community name' %>
      </div>
      
      <div class="actions">
        <%= f.submit "Create", class: "btn btn-primary"%>
      </div>
    <% end %>

  </div>
</div>


