// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.form_allignment {
  width: 50%;
  margin: auto;
  margin-top: 100px;

}

.sign_up {
  width: 50%;
  margin: auto;
  margin-top: 30px;

}

.padding_left {
 padding-left: 50px;
}

.button_padding_left {
 padding-left: 10px;
}
